In [ ]:
import pymysql

In [ ]:
#Establezco la conexión
conexion = pymysql.connect(
   host='localhost',
   user='root',
   passwd='1234',
   db='test'
)

cursor = conexion.cursor()

Traer información

In [ ]:
cursor.execute('''SELECT idAlumno, concat(nombre, ' ', apellido)
               FROM alumno
               LIMIT 5;''')
#alumnos = cursor.fetchall()
#alumnos = cursor.fetchone()
#alumnos = cursor.fetchmany(5)
for alumno in cursor:
    print(alumno)

Insertar datos

In [ ]:
cursor.execute("""INSERT INTO alumno 
                  VALUES (181, '32547891', 'Pablo', 'Gonzalez', '1998-06-06', '2022-05-06', 1243)""")

In [ ]:
conexion.commit()

In [ ]:
conexion.close()

In [ ]:
nombre = 'Gonzalo'
edad = 34
cursor.execute("INSERT INTO persona (Nombre, Edad) VALUES(%s,%s)", (nombre, edad))
conexion.commit()

In [ ]:
personas = [
    ('Jimena', 33),
    ('Carlos', 25),
    ('Ana', 31)
]
cursor.executemany("INSERT INTO persona (Nombre, Edad) VALUES(%s,%s)", personas)
conexion.commit()

Bonus track
Cómo bajar desde la web

In [ ]:
import requests

In [ ]:
respuesta = requests.get('https://cdn.buenosaires.gob.ar/datosabiertos/datasets/ente-de-turismo/oferta-establecimientos-gastronomicos/oferta_gastronomica.csv')
#respuesta.encoding
print(respuesta.text)