In [9]:
import math

1.-Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
lista=[1,2,3,4]
print(lista)

[1, 2, 3, 4]

2.-Imprimir el tipo de dato de la constante 8.5

In [2]:
print(type(8.5))

<class 'float'>

3.-Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(lista))

<class 'list'>

4.-Crear una variable que contenga tu nombre

In [4]:
nombre="Juan Lopez"

5.-Crear una variable que contenga un número complejo

In [5]:
num_complejo=3.14j
print(num_complejo, num_complejo.imag, num_complejo.real, type(num_complejo))

3.14j 3.14 0.0 <class 'complex'>

6.-Mostrar el tipo de dato de la variable crada en el punto 5

In [ ]:
print (type(num_complejo))

In [ ]:
7.-Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [11]:
x=3.1416
y=round(math.pi,2)
print(x,y)

3.1416 3.14

8.-Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [12]:
variable_1='True'
variable_2=True
#No es lo mismo ya que son distintos tipos de datos

9.-Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [13]:
print(type(variable_1))
print(type(variable_2))

<class 'str'>
<class 'bool'>

10.-Asignar a una variable, la suma de un número entero y otro decimal

In [14]:
suma_1=3 + 3.1416

11.-Realizar una operación de suma de números complejos

In [ ]:
3.14j+3.14j

12.-Realizar una operación de suma de un número real y otro complejo

In [15]:
print(3+num_complejo)

(3+3.14j)

13.-Realizar una operación de multiplicación

In [18]:
print(2+123)

125

14.-Mostrar el resultado de elevar 2 a la octava potencia

In [19]:
print(2**8)

256

15.-Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [20]:
a=27/4
print(a)

6.75

16.-De la división anterior solamente mostrar la parte entera

In [23]:
parte_entera=27//4
print(a)

3

In [ ]:
17.-De la división de 27 entre 4 mostrar solamente el resto

In [24]:
resto=27%4
print(a)

3

In [ ]:
18.-Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [25]:
x=(4*parte_entera)+resto
print(x)

27

19.-Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [1]:
variable_alfa_num="A1"
variable_alfa_num_1="A2"
print(variable_alfa_num+" "+variable_alfa_num_1)

A1 A2

20.-Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [3]:
c=2
c1="2"
#No son iguales por ser diferentes tipo de datos

21.-Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [4]:
print(c+int(c1))

4

22.-¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [16]:
a="3,8"
a=a.replace(',','.')
print(float(a))
#El tipo de 3,8 lo considera como tupla y no como floar, por ello se utiliza el .
print()

3.8

23.- Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [9]:
variable_3=3
variable_3-=2
print(variable_3)

1

24.-Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [17]:
#Esta operación corre espacios de hacia la derecha , por eso el 1 se vuelve 4 ya que, 0=0, 1=1, 2=10, 3=11,
#4=100 , agrega ceros a la derecha
#¿Por que es util? por que agregando los 0 multiplicamos por 2, que es la base del binario, ayuda a optimizar
print(0<<2)

0

In [18]:
n=3

In [19]:
100<<3

800

In [24]:
1000*(2**3)
#el tiempo de compilacion resulta mas demoroso

8000000000000

25.-Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [12]:
print(2+2)
#por no ser del mismo tipo 2 y '2'

4

26.-Realizar una operación válida entre valores de tipo entero y string

In [25]:
print (2 and '4')
print(2*"Juan")

4
JuanJuan